In [1]:
# 

port = 32768
port = str(port)
path = 'localhost'

from pymongo import MongoClient
import pymongo
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
from geojson import Point, Feature, FeatureCollection, dump # para generar puntos tipo geojson

In [11]:
# 

client = MongoClient("mongodb://admin:admin@localhost:{}".format(port))
db = client.mybbdd.my_geos

In [12]:
# get all first offices
# qry5=collection.find({'$and': [{'founded_year':{'$lte':2005}}, {'number_of_employees':{'$lte':1000}}]},projection={'name':1,'founded_year':1,'number_of_employees':1,'_id':0})

query_off = db.find( projection={'name':1, 'number_of_employees':1, 'offices': 1, 'geopoint': 1, '_id':0})

In [13]:
def geoQueryNear(geoJsonField, lng, lat, distance=10000):
    return {
        geoJsonField: {
            "$near": {
                "$geometry": {
                    "type": "Point", 
                    "coordinates": [lng, lat]
                },
                "$maxDistance":distance
            }
        }
    }

# result = db.restaurants.find(geoQueryNear('location',40.4799741, -3.7360907, 100000))
# list(result)

In [14]:
df = pd.DataFrame(list(query_off))
df.head()
#

,geopoint,name,number_of_employees
0,"{'type': 'Point', 'coordinates': [-121.904945,...",AdventNet,600
1,"{'type': 'Point', 'coordinates': [-121.904945,...",Zoho,1600
2,"{'type': 'Point', 'coordinates': [-122.394523,...",Digg,60
3,"{'type': 'Point', 'coordinates': [-118.393064,...",Geni,18
4,"{'type': 'Point', 'coordinates': [-118.39417, ...",Fox Interactive Media,0

In [61]:
# for i, row in df.iterrows(): 
# result = db.restaurants.find(geoQueryNear('geopoint',40.4799741, -3.7360907, 100000))
# list(result)
# db.collection.createIndex( { 'geopoint' : "2dsphere" } )

def suma_employ_near(x, dista, db): 
    long = x['geopoint']['coordinates'][0]
    lati = x['geopoint']['coordinates'][1]
    print(lon, lat)
    res_q = db.find( geoQueryNear(geoJsonField='geopoint', lng=long, lat=lati, distance=dista) )
    print(res_q)

In [62]:
df.iloc[2, :]['geopoint']

{'type': 'Point', 'coordinates': [-122.394523, 37.764726]}

In [63]:
list(  suma_employ_near(df.iloc[2, :], 1000000, db)  )

-121.904945 37.692934
<pymongo.cursor.Cursor object at 0x7f5415883c50>

TypeError: 'NoneType' object is not iterable