
abrimos kitematic
abrimos compass
ponemos bien el PORT

from pymongo import MongoClient
import pymongo
import pandas as pd
client = MongoClient("mongodb://admin:admin@localhost:32773")
db = client.mybbdd


TODO:
1. Import the companies.json dataset into a mongodb collection
2. Using pymongo connect to the database and:
    1. From all the companies get first office, number of people and company name
    2. Convert it to GeoJSON format
    3. Insert it back to another mongodb collection
3. In another notebook or python file
    1. Query the newly created collection geospatially using $near operator and for 
    each company calculate the nearest companies with radius R meters. Use R=100, R=1000 and R=10000
    2. For each company sum the results of the nearest companies and save all results in a JSON file 
    containing an array with the following format: 
[ 
    {
        id: XXXX
        name: <company_name>, 
        office_location:<geojson_point_office_location>,
        nearest_workers:{ 
            “r=100”:23,
            “r=1000”:2345,
            “r=10000”:99452345299,
        }
    },
    {…},
    {...}
]

4. Using the created json file, add it to tableau and create 3 sheets using geospartial plot.
5. Create a tableau story and present the results you’ve found

In [3]:
# definición de variables 

port = 32769
port = str(port)
path = 'localhost'

In [4]:
# imports

from pymongo import MongoClient
import pymongo
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
from geojson import Point, Feature, FeatureCollection, dump # para generar puntos tipo geojson

In [5]:
# conexión con la base de datos

client = MongoClient("mongodb://admin:admin@localhost:{}".format(port))
db = client.mybbdd.docs

In [6]:
# get all first offices en forma de query

# la base de datos ha sido descargada en formato json y cargada en compass-mongodb
# kitematic+docker tiene funcionando una base de datos mongodb

query_off = db.find( projection={'name':1, 'number_of_employees':1, 'offices': 1, '_id':0})

In [7]:
# creamos nuestra base de datos en pandas

df = pd.DataFrame(list(query_off))
df.head()

,name,number_of_employees,offices
0,AdventNet,600.0,"[{'description': 'Headquarters', 'address1': '..."
1,Zoho,1600.0,"[{'description': 'Headquarters', 'address1': '..."
2,Digg,60.0,"[{'description': None, 'address1': '135 Missis..."
3,Omnidrive,NaN,"[{'description': '', 'address1': 'Suite 200', ..."
4,Geni,18.0,"[{'description': 'Headquarters', 'address1': '..."

In [8]:
# observamos nuestra BBDD

df.dtypes

name                    object
number_of_employees    float64
offices                 object
dtype: object

In [9]:
# función que utilizaremos más adelante. Point es el constructor de puntos en geojson

def first_office_point(x): 
    # {'geometry': {'type': 'Point', 'coordinates': [-70.5867, -29.9953, 760]}, 'type': 'Feature', 'properties': {'name': 'A', 'description': 'Place a'}}
    try: 
        point = Point([x[0]['longitude'], x[0]['latitude']]) 
    except: 
        point = np.nan
    else: 
        pass
    finally: 
        return point

In [10]:
# aplicamos el constructor de Point a la nueva columna

df['geopoint'] = df['offices'].apply(lambda x: first_office_point(x))

In [11]:
# eliminamos clumnas y los registros que tienen NaN

df = df.drop(['offices'], axis=1) 
df_clean = df.dropna()

In [12]:
# vemos nuestros registros

df_clean.head()

,name,number_of_employees,geopoint
0,AdventNet,600.0,"{'type': 'Point', 'coordinates': [-121.904945,..."
1,Zoho,1600.0,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,Digg,60.0,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,Geni,18.0,"{'type': 'Point', 'coordinates': [-118.393064,..."
6,Fox Interactive Media,0.0,"{'type': 'Point', 'coordinates': [-118.39417, ..."

In [13]:
# Ahora de nuestro pandas a collection de mongodb. 
# creamos indices para la colección y luego las querys a es colleción.

In [14]:
# jotason = df_clean.to_json(orient='records')

# jotason
#ahora guardamos el archiov y lo metemos en la BBDD

# df_clean.to_json('geo.json', orient='records')

In [15]:
# ahora importamos el resultado en nuestro compass
   
# mongoimport -u admin -p admin --authenticationDatabase admin -d mybbdd -c geo_points /data/db/geo.json

In [16]:
# guardamos en un fichero nuestros datos

filename = './output/geo.json'
with open(filename, 'w')  as f: 
    for i, e in df_clean.iterrows(): 
        f.write(e.to_json()+'\n')

In [ ]:
# Estos datos json limpio lo volvemos a introducir en nuestra base de datos. 

# Para luego continuar en la parte-2