In [3]:
# 

port = 32768
port = str(port)
path = 'localhost'

from pymongo import MongoClient
import pymongo
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
from geojson import Point, Feature, FeatureCollection, dump # para generar puntos tipo geojson

In [4]:
# 

client = MongoClient("mongodb://admin:admin@localhost:{}".format(port))
db = client.mybbdd.my_geos

In [5]:
# get all first offices
# qry5=collection.find({'$and': [{'founded_year':{'$lte':2005}}, {'number_of_employees':{'$lte':1000}}]},projection={'name':1,'founded_year':1,'number_of_employees':1,'_id':0})

query_off = db.find( projection={'name':1, 'number_of_employees':1, 'offices': 1, 'geopoint': 1, '_id':0})

In [6]:
def geoQueryNear(geoJsonField, lng, lat, distance=10000):
    return {
        geoJsonField: {
            "$near": {
                "$geometry": {
                    "type": "Point", 
                    "coordinates": [lng, lat]
                },
                "$maxDistance":distance
            }
        }
    }

# result = db.restaurants.find(geoQueryNear('location',40.4799741, -3.7360907, 100000))
# list(result)

In [7]:
df = pd.DataFrame(list(query_off))
df.head()
#

,geopoint,name,number_of_employees
0,"{'type': 'Point', 'coordinates': [-121.904945,...",AdventNet,600
1,"{'type': 'Point', 'coordinates': [-121.904945,...",Zoho,1600
2,"{'type': 'Point', 'coordinates': [-122.394523,...",Digg,60
3,"{'type': 'Point', 'coordinates': [-118.393064,...",Geni,18
4,"{'type': 'Point', 'coordinates': [-118.39417, ...",Fox Interactive Media,0

In [8]:
# for i, row in df.iterrows(): 
'''
def suma_employ_near(x, dista, db, geoQueryNear): 
    long = x['geopoint']['coordinates'][0]
    lati = x['geopoint']['coordinates'][1]
    # print(x['name'], long, lati)
    res_q = db.find( geoQueryNear(geoJsonField='geopoint', lng=long, lat=lati, distance=dista) )
    
    return sum([e['number_of_employees'] for e in res_q])  # devuelve la suma de las num empl de las empresas cercanas

df.apply (lambda row: label_race (row),axis=1)
'''
def suma_employ_near(x, dista, db, geoQueryNear): 
    long = x['geopoint']['coordinates'][0]
    lati = x['geopoint']['coordinates'][1]
    # print(x['name'], long, lati)
    res_q = db.find( geoQueryNear(geoJsonField='geopoint', lng=long, lat=lati, distance=dista) )
    
    return sum([e['number_of_employees'] for e in res_q])  # devuelve la suma de las num empl de las empresas cercanas

In [9]:
# funciona correctamente
suma_employ_near(df.iloc[8, :], 500, db, geoQueryNear)

51

In [10]:
# df['suma_vecinos'] = df.apply (lambda row: suma_employ_near(row, 100, db, geoQueryNear),axis=1)
# df.head()

In [11]:
distancias = [100, 1000, 10000]

df['100'] = df.apply (lambda row: suma_employ_near(row, 100, db, geoQueryNear),axis=1)

In [12]:
df['1000'] = df.apply (lambda row: suma_employ_near(row, 1000, db, geoQueryNear),axis=1)

In [13]:
df['10000'] = df.apply (lambda row: suma_employ_near(row, 10000, db, geoQueryNear),axis=1)

In [14]:
df.head()

,geopoint,name,number_of_employees,100,1000,10000
0,"{'type': 'Point', 'coordinates': [-121.904945,...",AdventNet,600,2200,2732,4123
1,"{'type': 'Point', 'coordinates': [-121.904945,...",Zoho,1600,2200,2732,4123
2,"{'type': 'Point', 'coordinates': [-122.394523,...",Digg,60,60,763,22265
3,"{'type': 'Point', 'coordinates': [-118.393064,...",Geni,18,18,18,27719
4,"{'type': 'Point', 'coordinates': [-118.39417, ...",Fox Interactive Media,0,0,3,3558

In [15]:
filename = 'geo_employ.json'
with open(filename, 'w')  as f: 
    for i, e in df.iterrows(): 
        f.write(e.to_json()+'\n')