In [1]:
# 

'''
abrimos kitematic
abrimos compass
ponemos bien el PORT

from pymongo import MongoClient
import pymongo
import pandas as pd
client = MongoClient("mongodb://admin:admin@localhost:32773")
db = client.mybbdd


TODO:
1. Import the companies.json dataset into a mongodb collection
2. Using pymongo connect to the database and:
    1. From all the companies get first office, number of people and company name
    2. Convert it to GeoJSON format
    3. Insert it back to another mongodb collection
3. In another notebook or python file
    1. Query the newly created collection geospatially using $near operator and for 
    each company calculate the nearest companies with radius R meters. Use R=100, R=1000 and R=10000
    2. For each company sum the results of the nearest companies and save all results in a JSON file 
    containing an array with the following format: 
[ 
    {
        id: XXXX
        name: <company_name>, 
        office_location:<geojson_point_office_location>,
        nearest_workers:{ 
            “r=100”:23,
            “r=1000”:2345,
            “r=10000”:99452345299,
        }
    },
    {…},
    {...}
]

4. Using the created json file, add it to tableau and create 3 sheets using geospartial plot.
5. Create a tableau story and present the results you’ve found

'''
port = 32768
port = str(port)
path = 'localhost'

In [2]:
from pymongo import MongoClient
import pymongo
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
from geojson import Point, Feature, FeatureCollection, dump # para generar puntos tipo geojson

In [3]:
client = MongoClient("mongodb://admin:admin@localhost:{}".format(port))
db = client.mybbdd.docs

In [4]:
def geoQueryNear(geoJsonField, lat, lng, distance=10000):
    return {
        geoJsonField: {
            "$near": {
                "$geometry": {
                    "type": "Point", 
                    "coordinates": [lat, lng]
                },
                "$maxDistance":distance
            }
        }
    }

# result = db.restaurants.find(geoQueryNear('location',40.4799741, -3.7360907, 100000))
# list(result)

In [5]:
# get all first offices
# qry5=collection.find({'$and': [{'founded_year':{'$lte':2005}}, {'number_of_employees':{'$lte':1000}}]},projection={'name':1,'founded_year':1,'number_of_employees':1,'_id':0})

query_off = db.find( projection={'name':1, 'number_of_employees':1, 'offices': 1, '_id':0})

In [6]:
df = pd.DataFrame(list(query_off))
df.head()

,name,number_of_employees,offices
0,AdventNet,600.0,"[{'description': 'Headquarters', 'address1': '..."
1,Zoho,1600.0,"[{'description': 'Headquarters', 'address1': '..."
2,Digg,60.0,"[{'description': None, 'address1': '135 Missis..."
3,Omnidrive,NaN,"[{'description': '', 'address1': 'Suite 200', ..."
4,Geni,18.0,"[{'description': 'Headquarters', 'address1': '..."

In [7]:
df.dtypes

name                    object
number_of_employees    float64
offices                 object
dtype: object

In [8]:
# df.describe()

In [9]:
# df.loc[4, 'offices'][0]['latitude'], df.loc[4, 'offices'][0]['longitude']

In [10]:
def first_office_point(x): 
    # {'geometry': {'type': 'Point', 'coordinates': [-70.5867, -29.9953, 760]}, 'type': 'Feature', 'properties': {'name': 'A', 'description': 'Place a'}}
    try: 
        point = Point([x[0]['latitude'], x[0]['longitude']]) 
    except: 
        point = np.nan
    else: 
        pass
    finally: 
        return point

'''
from geojson import Point, Feature, FeatureCollection, dump

point = Point((-115.81, 37.24))

features = []
features.append(Feature(geometry=point, properties={"country": "Spain"}))

# add more features...
# features.append(...)

feature_collection = FeatureCollection(features)

with open('myfile.geojson', 'w') as f:
   dump(feature_collection, f)



Contraer 

Entrada de mensaje

Enviar mensaje a alumnos_data
'''    
pass

In [11]:
# def get_geojson(x):

In [12]:
# aplicamos el constructor de Point a la nueva columna
df['geopoint'] = df['offices'].apply(lambda x: first_office_point(x))

In [13]:
# eliminamos officessss y los registros que tienen NaN

# df.drop(['B', 'C'], axis=1)

df = df.drop(['offices'], axis=1) 
df_clean = df.dropna()

In [14]:
# convertimos a integer la columna float

# df['number_of_employees'].astype('int64')

# df['number_of_employees'] = df['number_of_employees'].astype('int32')

In [15]:
df_clean.head()

,name,number_of_employees,geopoint
0,AdventNet,600.0,"{'type': 'Point', 'coordinates': [37.692934, -..."
1,Zoho,1600.0,"{'type': 'Point', 'coordinates': [37.692934, -..."
2,Digg,60.0,"{'type': 'Point', 'coordinates': [37.764726, -..."
4,Geni,18.0,"{'type': 'Point', 'coordinates': [34.090368, -..."
6,Fox Interactive Media,0.0,"{'type': 'Point', 'coordinates': [34.076179, -..."

In [16]:
#  de pandas a collection de mongodb. creamos indices para la colección y luego las querys a es colleción.

In [17]:
# jotason = df_clean.to_json(orient='records')

# jotason
#ahora guardamos el archiov y lo metemos en la BBDD
df_clean.to_json('geo.json', orient='records')

In [18]:
# with open('data.json', 'w') as outfile:
 #    dump(jotason, outfile)

# ahora importamos el resultado en nuestro compass
   
# mongoimport -u admin -p admin --authenticationDatabase admin -d mybbdd -c geo_points /data/db/geo.json

In [19]:
df_clean.head()

,name,number_of_employees,geopoint
0,AdventNet,600.0,"{'type': 'Point', 'coordinates': [37.692934, -..."
1,Zoho,1600.0,"{'type': 'Point', 'coordinates': [37.692934, -..."
2,Digg,60.0,"{'type': 'Point', 'coordinates': [37.764726, -..."
4,Geni,18.0,"{'type': 'Point', 'coordinates': [34.090368, -..."
6,Fox Interactive Media,0.0,"{'type': 'Point', 'coordinates': [34.076179, -..."

In [33]:
row2 = df_clean.iloc[1, :]
type(row2[0]), type(row2[1]), type(row2[2]), type(row2[2]['coordinates']), type(row2[2]['coordinates'][0])

(str, numpy.float64, geojson.geometry.Point, list, float)

In [20]:
# geoQueryNear(geoJsonField, 37, 34, distance=10000)

In [21]:
# out = df_clean.to_json(orient='records')