In [1]:
# 

port = 32768
port = str(port)
path = 'localhost'

from pymongo import MongoClient
import pymongo
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
from geojson import Point, Feature, FeatureCollection, dump # para generar puntos tipo geojson

In [2]:
# 

client = MongoClient("mongodb://admin:admin@localhost:{}".format(port))
db = client.mybbdd.my_geos

In [3]:
# get all first offices
# qry5=collection.find({'$and': [{'founded_year':{'$lte':2005}}, {'number_of_employees':{'$lte':1000}}]},projection={'name':1,'founded_year':1,'number_of_employees':1,'_id':0})

query_off = db.find( projection={'name':1, 'number_of_employees':1, 'offices': 1, 'geopoint': 1, '_id':0})

In [4]:
def geoQueryNear(geoJsonField, lng, lat, distance=10000):
    return {
        geoJsonField: {
            "$near": {
                "$geometry": {
                    "type": "Point", 
                    "coordinates": [lng, lat]
                },
                "$maxDistance":distance
            }
        }
    }

# result = db.restaurants.find(geoQueryNear('location',40.4799741, -3.7360907, 100000))
# list(result)

In [5]:
df = pd.DataFrame(list(query_off))
df.head()
#

,geopoint,name,number_of_employees
0,"{'type': 'Point', 'coordinates': [-121.904945,...",AdventNet,600
1,"{'type': 'Point', 'coordinates': [-121.904945,...",Zoho,1600
2,"{'type': 'Point', 'coordinates': [-122.394523,...",Digg,60
3,"{'type': 'Point', 'coordinates': [-118.393064,...",Geni,18
4,"{'type': 'Point', 'coordinates': [-118.39417, ...",Fox Interactive Media,0

In [6]:
# for i, row in df.iterrows(): 
'''
def suma_employ_near(x, dista, db, geoQueryNear): 
    long = x['geopoint']['coordinates'][0]
    lati = x['geopoint']['coordinates'][1]
    # print(x['name'], long, lati)
    res_q = db.find( geoQueryNear(geoJsonField='geopoint', lng=long, lat=lati, distance=dista) )
    
    return sum([e['number_of_employees'] for e in res_q])  # devuelve la suma de las num empl de las empresas cercanas

df.apply (lambda row: label_race (row),axis=1)
'''
def suma_employ_near(x, dista, db, geoQueryNear): 
    long = x['geopoint']['coordinates'][0]
    lati = x['geopoint']['coordinates'][1]
    # print(x['name'], long, lati)
    res_q = db.find( geoQueryNear(geoJsonField='geopoint', lng=long, lat=lati, distance=dista) )
        
    # hay que sumar tambi√©n los empleados propios

    return sum([e['number_of_employees'] for e in res_q])  # devuelve la suma de las num empl de las empresas cercanas

In [7]:
# funciona correctamente
suma_employ_near(df.iloc[2608, :], 10000, db, geoQueryNear)

319096

In [8]:
# df.iloc[2607, :]

In [9]:
# df['suma_vecinos'] = df.apply (lambda row: suma_employ_near(row, 100, db, geoQueryNear),axis=1)
# df.head()

In [10]:
def create_df_dis(dataframe, dist, f=geoQueryNear): 
    df_res = dataframe.copy()
    columna_name = str(dist)
    df_res[columna_name] = dataframe.apply (lambda row: suma_employ_near(row, dist, db, f),axis=1) 
    
    return df_res.sort_values(by=[columna_name], ascending=False).head(10)

In [12]:
# dataframes = [df_100, df_1000, df_10000]
# distances = [100, 1000, 10000]
# for dist, dat in zip(distances, dataframes): 

df_100 = create_df_dis(df, 100, geoQueryNear)

In [13]:
df_1000 = create_df_dis(df, 1000, geoQueryNear)

In [14]:
df_10000 = create_df_dis(df, 10000, geoQueryNear)

In [15]:
# df['100'] = df.apply (lambda row: suma_employ_near(row, 100, db, geoQueryNear),axis=1)

In [16]:
# df_100_n = df_100.copy()
# df_100_n['longitude'] = df_100_n['geopoint']['coordinates'][0]
# df_100_n.iloc[3, :]['geopoint']['coordinates'][0]

# df_100_n['longitude'] = df_100_n['geopoint']['coordinates'][0]

def get_longitude(x): 
    # return x['geopoint']['coordinates'][0]
    return x['coordinates'][0]

def get_latitude(x): 
    return x['coordinates'][1]

In [17]:
df_100['longitude'] = df_100['geopoint'].apply(lambda x: get_longitude(x))
df_100['latitude'] = df_100['geopoint'].apply(lambda x: get_latitude(x))

df_1000['longitude'] = df_100['geopoint'].apply(lambda x: get_longitude(x))
df_1000['latitude'] = df_100['geopoint'].apply(lambda x: get_latitude(x))

df_10000['longitude'] = df_100['geopoint'].apply(lambda x: get_longitude(x))
df_10000['latitude'] = df_100['geopoint'].apply(lambda x: get_latitude(x))

In [18]:
df_100

,geopoint,name,number_of_employees,100,longitude,latitude
844,"{'type': 'Point', 'coordinates': [-73.723999, ...",IBM,388000,388000,-73.723999,41.109534
149,"{'type': 'Point', 'coordinates': [-121.927696,...",PayPal,300000,300000,-121.927696,37.294465
2015,"{'type': 'Point', 'coordinates': [72.856178, 1...",IdeaFry,5,200345,72.856178,19.017656
3592,"{'type': 'Point', 'coordinates': [72.856178, 1...",Tata Consultancy Services,200300,200345,72.856178,19.017656
4150,"{'type': 'Point', 'coordinates': [72.856178, 1...",burrp!,40,200345,72.856178,19.017656
849,"{'type': 'Point', 'coordinates': [-95.712891, ...",Ubuket,15,191166,-95.712891,37.090240
339,"{'type': 'Point', 'coordinates': [-95.712891, ...",Shopatron,166,191166,-95.712891,37.090240
496,"{'type': 'Point', 'coordinates': [-95.712891, ...",Boobik,3,191166,-95.712891,37.090240
211,"{'type': 'Point', 'coordinates': [-95.712891, ...",Espotting,250,191166,-95.712891,37.090240
492,"{'type': 'Point', 'coordinates': [-95.712891, ...",Frevvo,10,191166,-95.712891,37.090240

In [19]:
# df['1000'] = df.apply (lambda row: suma_employ_near(row, 1000, db, geoQueryNear),axis=1) 
df_1000

,geopoint,name,number_of_employees,1000,longitude,latitude
844,"{'type': 'Point', 'coordinates': [-73.723999, ...",IBM,388000,388000,-73.723999,41.109534
2818,"{'type': 'Point', 'coordinates': [-121.934573,...",Telera,100,315570,NaN,NaN
144,"{'type': 'Point', 'coordinates': [-121.935688,...",Hightail,200,315520,NaN,NaN
4533,"{'type': 'Point', 'coordinates': [-121.93418, ...",tempCFO Solutions,22,315490,NaN,NaN
3191,"{'type': 'Point', 'coordinates': [-121.933651,...",Asyncast Corporation,20,315490,NaN,NaN
512,"{'type': 'Point', 'coordinates': [-121.9317853...",clipsync,28,315470,NaN,NaN
149,"{'type': 'Point', 'coordinates': [-121.927696,...",PayPal,300000,315470,-121.927696,37.294465
12,"{'type': 'Point', 'coordinates': [-121.930035,...",eBay,15000,315470,NaN,NaN
4071,"{'type': 'Point', 'coordinates': [-121.9303616...",Naseeb Networks,100,315200,NaN,NaN
2015,"{'type': 'Point', 'coordinates': [72.856178, 1...",IdeaFry,5,200345,72.856178,19.017656

In [20]:
# df['10000'] = df.apply (lambda row: suma_employ_near(row, 10000, db, geoQueryNear),axis=1)
df_10000

,geopoint,name,number_of_employees,10000,longitude,latitude
3090,"{'type': 'Point', 'coordinates': [-121.967223,...",Apigee,65,671999,NaN,NaN
3993,"{'type': 'Point', 'coordinates': [-121.9662996...",Asoka,35,671933,NaN,NaN
366,"{'type': 'Point', 'coordinates': [-121.968474,...",Upcoming,3,671891,NaN,NaN
4116,"{'type': 'Point', 'coordinates': [-121.967982,...",Synaptics,250,671891,NaN,NaN
4744,"{'type': 'Point', 'coordinates': [-121.9618928...","i365, A Seagate Company",550,671432,NaN,NaN
45,"{'type': 'Point', 'coordinates': [-121.940749,...",Spotplex,3,670761,NaN,NaN
1262,"{'type': 'Point', 'coordinates': [-121.9409, 3...",Bravisa,6,670506,NaN,NaN
948,"{'type': 'Point', 'coordinates': [-121.970209,...",Berkeley Design Automation,30,660430,NaN,NaN
361,"{'type': 'Point', 'coordinates': [-122.006539,...",Baynote,80,651446,NaN,NaN
4214,"{'type': 'Point', 'coordinates': [-121.9478049...",AdventureDrop,6,649715,NaN,NaN

In [21]:
# df.head()

In [22]:
dataframes = [df_100, df_1000, df_10000]
distances = [100, 1000, 10000]
for dist, dat in zip(distances, dataframes): 

    filename = 'geo_employ{}.json'.format(str(dist))
    with open(filename, 'w')  as f: 
        for i, e in dat.iterrows(): 
            f.write(e.to_json()+'\n')