In [1]:
# https://ourworldindata.org/renewables

# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# apertura de ficheros
hidro = pd.read_csv('hydropower-consumption.csv')
bio = pd.read_csv('biofuel-production.csv')
eolic = pd.read_csv('wind-energy-consumption-terawatt-hours-twh.csv')
solar = pd.read_csv('solar-energy-consumption.csv')

In [3]:
dfs = [hidro, bio, eolic, solar]
for df in dfs: 
    display(df.columns)
    # display(df.describe())
    # display(df.head(20))

Index(['Entity', 'Code', 'Year', 'Hydropower (Terawatt-hours)'], dtype='object')

Index(['Entity', 'Code', 'Year', 'Biofuels production (terrawatt-hours)'], dtype='object')

Index(['Entity', 'Code', 'Year', 'Wind energy consumption (Terawatt-hours)'], dtype='object')

Index(['Entity', 'Code', 'Year', 'Solar PV Consumption (Terawatt-hours)'], dtype='object')

In [4]:
# Como nos interesan los paises y no las regiones (continentes) vamos a eliminar 
# todos los registros que no tengan Code
dfs = [hidro, bio, eolic, solar]

for i, df in enumerate(dfs): 
    dfs[i] = dfs[i].dropna()
    display(dfs[i].describe())

              Year  Hydropower (Terawatt-hours)
count  3396.000000                  3396.000000
mean   1991.159600                    66.355595
std      14.907782                   303.050654
min    1965.000000                     0.000000
25%    1978.000000                     0.697631
50%    1992.000000                     6.138547
75%    2004.000000                    27.992798
max    2016.000000                  4022.937769

              Year  Biofuels production (terrawatt-hours)
count   675.000000                             675.000000
mean   2003.000000                             293.513087
std       7.794657                            1061.223100
min    1990.000000                               0.000000
25%    1996.000000                               0.000000
50%    2003.000000                              11.593154
75%    2010.000000                              77.848722
max    2016.000000                            9572.244522

              Year  Wind energy consumption (Terawatt-hours)
count  3396.000000                               3396.000000
mean   1991.159600                                  3.349144
std      14.907782                                 33.083002
min    1965.000000                                  0.000000
25%    1978.000000                                  0.000000
50%    1992.000000                                  0.000000
75%    2004.000000                                  0.016000
max    2016.000000                                959.529506

              Year  Solar PV Consumption (Terawatt-hours)
count  3396.000000                            3396.000000
mean   1991.159600                               0.696112
std      14.907782                               9.027918
min    1965.000000                               0.000000
25%    1978.000000                               0.000000
50%    1992.000000                               0.000000
75%    2004.000000                               0.001000
max    2016.000000                             333.052493

In [5]:
df1 = dfs[0].merge(dfs[1],  how='outer', left_on=['Code','Year'], right_on = ['Code','Year'])
# df1.drop('Entity_y', axis=1, inplace=True)
df1.drop('Entity_y', axis=1, inplace=True)
df1.iloc[1020: 1020, :]

Empty DataFrame
Columns: [Entity_x, Code, Year, Hydropower (Terawatt-hours), Biofuels production (terrawatt-hours)]
Index: []

In [6]:
df1 = df1.merge(dfs[2],  how='outer', left_on=['Code','Year'], right_on = ['Code','Year'])
df1.drop('Entity', axis=1, inplace=True)
df1.iloc[1020: 1020, :]

Empty DataFrame
Columns: [Entity_x, Code, Year, Hydropower (Terawatt-hours), Biofuels production (terrawatt-hours), Wind energy consumption (Terawatt-hours)]
Index: []

In [7]:
df = df1.merge(dfs[3],  how='outer', left_on=['Code','Year'], right_on = ['Code','Year'])
df.drop('Entity', axis=1, inplace=True)
df.iloc[2000: 2020, :]

,Entity_x,Code,Year,Hydropower (Terawatt-hours),Biofuels production (terrawatt-hours),Wind energy consumption (Terawatt-hours),Solar PV Consumption (Terawatt-hours)
2000,Peru,PER,1965,2.629543,NaN,0.0,0.0
2001,Peru,PER,1966,2.823997,NaN,0.0,0.0
2002,Peru,PER,1967,3.164290,NaN,0.0,0.0
2003,Peru,PER,1968,3.394099,NaN,0.0,0.0
2004,Peru,PER,1969,3.699038,NaN,0.0,0.0
2005,Peru,PER,1970,3.827200,NaN,0.0,0.0
2006,Peru,PER,1971,4.277979,NaN,0.0,0.0
2007,Peru,PER,1972,4.441497,NaN,0.0,0.0
2008,Peru,PER,1973,4.768533,NaN,0.0,0.0
2009,Peru,PER,1974,5.223731,NaN,0.0,0.0
2010,Peru,PER,1975,5.466798,NaN,0.0,0.0
2011,Peru,PER,1976,5.802672,NaN,0.0,0.0
2012,Peru,PER,1977,6.023642,NaN,0.0,0.0
2013,Peru,PER,1978,6.200418,NaN,0.0,0.0
2014,Peru,PER,1979,6.699810,NaN,0.0,0.0
2015,Peru,PER,1980,7.013588,NaN,0.0,0.0
2016,Peru,PER,1981,8.003533,NaN,0.0,0.0
2017,Peru,PER,1982,8.396860,NaN,0.0,0.0
2018,Peru,PER,1983,8.118438,NaN,0.0,0.0
2019,Peru,PER,1984,8.569217,NaN,0.0,0.0

In [8]:
# En nuestro caso un valor de NaN en cualquiera de las columnas numéricas significa que
# no hay consumo de ese tipo de energía. 

# Por lo que tiene sentido ponerlo a 0. Pero eso vamos a estudiarlo más adelante

In [9]:
# correlaciones

In [10]:
df.rename(index=str, columns={"Entity_x": "Country"})
df.head()

,Entity_x,Code,Year,Hydropower (Terawatt-hours),Biofuels production (terrawatt-hours),Wind energy consumption (Terawatt-hours),Solar PV Consumption (Terawatt-hours)
0,Algeria,DZA,1965,0.393327,NaN,0.0,0.0
1,Algeria,DZA,1966,0.362391,NaN,0.0,0.0
2,Algeria,DZA,1967,0.406585,NaN,0.0,0.0
3,Algeria,DZA,1968,0.556844,NaN,0.0,0.0
4,Algeria,DZA,1969,0.362391,NaN,0.0,0.0

In [14]:
# hay que filtrar los registros cuyo code no sea un string de 3 letras
def real_code(x): 
    return len(x) == 3
df_countries = df[]
df_countries

KeyError: False

In [ ]:
df.iloc[2450: 2550, :]