In [1]:
# https://ourworldindata.org/renewables

# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# apertura de ficheros
hidro = pd.read_csv('hydropower-consumption.csv')
bio = pd.read_csv('biofuel-production.csv')
eolic = pd.read_csv('wind-energy-consumption-terawatt-hours-twh.csv')
solar = pd.read_csv('solar-energy-consumption.csv')

In [3]:
dfs = [hidro, bio, eolic, solar]
for df in dfs: 
    display(df.columns)
    display(df.describe())

Index(['Entity', 'Code', 'Year', 'Hydropower (Terawatt-hours)'], dtype='object')

              Year  Hydropower (Terawatt-hours)
count  4176.000000                  4176.000000
mean   1991.036398                   118.087977
std      14.928833                   350.167170
min    1965.000000                     0.000000
25%    1978.000000                     1.378853
50%    1991.000000                    10.561399
75%    2004.000000                    52.240992
max    2016.000000                  4022.937769

Index(['Entity', 'Code', 'Year', 'Biofuels production (terrawatt-hours)'], dtype='object')

              Year  Biofuels production (terrawatt-hours)
count  1026.000000                            1026.000000
mean   2003.000000                             408.074515
std       7.792679                            1091.825026
min    1990.000000                               0.000000
25%    1996.000000                               0.000000
50%    2003.000000                              17.924222
75%    2010.000000                             205.349297
max    2016.000000                            9572.244522

Index(['Entity', 'Code', 'Year', 'Wind energy consumption (Terawatt-hours)'], dtype='object')

              Year  Wind energy consumption (Terawatt-hours)
count  4176.000000                               4176.000000
mean   1991.036398                                  6.047438
std      14.928833                                 41.050023
min    1965.000000                                  0.000000
25%    1978.000000                                  0.000000
50%    1991.000000                                  0.000000
75%    2004.000000                                  0.049365
max    2016.000000                                959.529506

Index(['Entity', 'Code', 'Year', 'Solar PV Consumption (Terawatt-hours)'], dtype='object')

              Year  Solar PV Consumption (Terawatt-hours)
count  4176.000000                            4176.000000
mean   1991.036398                               1.277554
std      14.928833                              11.754535
min    1965.000000                               0.000000
25%    1978.000000                               0.000000
50%    1991.000000                               0.000000
75%    2004.000000                               0.002000
max    2016.000000                             333.052493

In [4]:
# Como nos interesan los paises y no las regiones (continentes) vamos a eliminar 
# todos los registros que no tengan Code
dfs = [hidro, bio, eolic, solar]

for i, df in enumerate(dfs): 
    dfs[i] = df.dropna()
    display(dfs[i].describe())

              Year  Hydropower (Terawatt-hours)
count  3396.000000                  3396.000000
mean   1991.159600                    66.355595
std      14.907782                   303.050654
min    1965.000000                     0.000000
25%    1978.000000                     0.697631
50%    1992.000000                     6.138547
75%    2004.000000                    27.992798
max    2016.000000                  4022.937769

              Year  Biofuels production (terrawatt-hours)
count   675.000000                             675.000000
mean   2003.000000                             293.513087
std       7.794657                            1061.223100
min    1990.000000                               0.000000
25%    1996.000000                               0.000000
50%    2003.000000                              11.593154
75%    2010.000000                              77.848722
max    2016.000000                            9572.244522

              Year  Wind energy consumption (Terawatt-hours)
count  3396.000000                               3396.000000
mean   1991.159600                                  3.349144
std      14.907782                                 33.083002
min    1965.000000                                  0.000000
25%    1978.000000                                  0.000000
50%    1992.000000                                  0.000000
75%    2004.000000                                  0.016000
max    2016.000000                                959.529506

              Year  Solar PV Consumption (Terawatt-hours)
count  3396.000000                            3396.000000
mean   1991.159600                               0.696112
std      14.907782                               9.027918
min    1965.000000                               0.000000
25%    1978.000000                               0.000000
50%    1992.000000                               0.000000
75%    2004.000000                               0.001000
max    2016.000000                             333.052493

In [5]:
df1 = dfs[0].merge(dfs[1],  how='outer', left_on=['Code','Year'], right_on = ['Code','Year'])
# df1.drop('Entity_y', axis=1, inplace=True)
df1.iloc[1020: 1050, :]

,Entity_x,Code,Year,Hydropower (Terawatt-hours),Entity_y,Biofuels production (terrawatt-hours)
1020,Germany,DEU,1985,17.400650,NaN,NaN
1021,Germany,DEU,1986,18.571982,NaN,NaN
1022,Germany,DEU,1987,20.342970,NaN,NaN
1023,Germany,DEU,1988,20.079391,NaN,NaN
1024,Germany,DEU,1989,18.243728,NaN,NaN
1025,Germany,DEU,1990,17.335000,Germany,0.000000
1026,Germany,DEU,1991,15.850000,Germany,0.000000
1027,Germany,DEU,1992,18.635000,Germany,0.511720
1028,Germany,DEU,1993,18.960000,Germany,0.511720
1029,Germany,DEU,1994,20.195000,Germany,2.895870
1030,Germany,DEU,1995,21.556000,Germany,3.616930
1031,Germany,DEU,1996,18.818000,Germany,5.687070
1032,Germany,DEU,1997,18.952000,Germany,9.304000
1033,Germany,DEU,1998,19.002000,Germany,10.339070
1034,Germany,DEU,1999,20.686000,Germany,13.432650
1035,Germany,DEU,2000,24.866750,Germany,22.878595
1036,Germany,DEU,2001,23.241000,Germany,28.652758
1037,Germany,DEU,2002,23.661750,Germany,46.693384
1038,Germany,DEU,2003,17.722000,Germany,74.284928
1039,Germany,DEU,2004,20.096000,Germany,107.865184
1040,Germany,DEU,2005,19.639000,Germany,185.244198
1041,Germany,DEU,2006,20.008500,Germany,302.724617
1042,Germany,DEU,2007,21.169000,Germany,377.177778
1043,Germany,DEU,2008,20.443000,Germany,326.220833
1044,Germany,DEU,2009,19.031000,Germany,329.598889
1045,Germany,DEU,2010,20.953000,Germany,351.506944
1046,Germany,DEU,2011,17.672274,Germany,345.008889
1047,Germany,DEU,2012,22.090000,Germany,352.560278
1048,Germany,DEU,2013,22.998000,Germany,322.149444
1049,Germany,DEU,2014,19.587102,Germany,402.424373

In [6]:
df1 = df1.merge(dfs[2],  how='outer', left_on=['Code','Year'], right_on = ['Code','Year'])
# df1.drop('Entity_y', axis=1, inplace=True)
df1.columns

Index(['Entity_x', 'Code', 'Year', 'Hydropower (Terawatt-hours)', 'Entity_y',
       'Biofuels production (terrawatt-hours)', 'Entity',
       'Wind energy consumption (Terawatt-hours)'],
      dtype='object')

In [7]:
df1.iloc[1020: 1050, :]

,Entity_x,Code,Year,Hydropower (Terawatt-hours),Entity_y,Biofuels production (terrawatt-hours),Entity,Wind energy consumption (Terawatt-hours)
1020,Germany,DEU,1985,17.400650,NaN,NaN,Germany,0.000
1021,Germany,DEU,1986,18.571982,NaN,NaN,Germany,0.001
1022,Germany,DEU,1987,20.342970,NaN,NaN,Germany,0.002
1023,Germany,DEU,1988,20.079391,NaN,NaN,Germany,0.008
1024,Germany,DEU,1989,18.243728,NaN,NaN,Germany,0.026
1025,Germany,DEU,1990,17.335000,Germany,0.000000,Germany,0.071
1026,Germany,DEU,1991,15.850000,Germany,0.000000,Germany,0.100
1027,Germany,DEU,1992,18.635000,Germany,0.511720,Germany,0.275
1028,Germany,DEU,1993,18.960000,Germany,0.511720,Germany,0.600
1029,Germany,DEU,1994,20.195000,Germany,2.895870,Germany,0.909
1030,Germany,DEU,1995,21.556000,Germany,3.616930,Germany,1.500
1031,Germany,DEU,1996,18.818000,Germany,5.687070,Germany,2.032
1032,Germany,DEU,1997,18.952000,Germany,9.304000,Germany,2.966
1033,Germany,DEU,1998,19.002000,Germany,10.339070,Germany,4.489
1034,Germany,DEU,1999,20.686000,Germany,13.432650,Germany,5.528
1035,Germany,DEU,2000,24.866750,Germany,22.878595,Germany,9.513
1036,Germany,DEU,2001,23.241000,Germany,28.652758,Germany,10.509
1037,Germany,DEU,2002,23.661750,Germany,46.693384,Germany,15.786
1038,Germany,DEU,2003,17.722000,Germany,74.284928,Germany,18.713
1039,Germany,DEU,2004,20.096000,Germany,107.865184,Germany,25.509
1040,Germany,DEU,2005,19.639000,Germany,185.244198,Germany,27.229
1041,Germany,DEU,2006,20.008500,Germany,302.724617,Germany,30.710
1042,Germany,DEU,2007,21.169000,Germany,377.177778,Germany,39.713
1043,Germany,DEU,2008,20.443000,Germany,326.220833,Germany,40.574
1044,Germany,DEU,2009,19.031000,Germany,329.598889,Germany,38.648
1045,Germany,DEU,2010,20.953000,Germany,351.506944,Germany,37.795
1046,Germany,DEU,2011,17.672274,Germany,345.008889,Germany,48.891
1047,Germany,DEU,2012,22.090000,Germany,352.560278,Germany,50.681
1048,Germany,DEU,2013,22.998000,Germany,322.149444,Germany,51.721
1049,Germany,DEU,2014,19.587102,Germany,402.424373,Germany,57.379

In [9]:
df1 = df1.merge(dfs[3],  how='outer', left_on=['Code','Year'], right_on = ['Code','Year'])
# df1.drop('Entity_y', axis=1, inplace=True)
# df1.drop(labels=['Entity_y', 'Entity_x'], axis=1, inplace=True)
df1.iloc[1020: 1050, :]
df1.columns

Index(['Entity_x', 'Code', 'Year', 'Hydropower (Terawatt-hours)', 'Entity_y',
       'Biofuels production (terrawatt-hours)', 'Entity_x',
       'Wind energy consumption (Terawatt-hours)', 'Entity_y',
       'Solar PV Consumption (Terawatt-hours)_x', 'Entity',
       'Solar PV Consumption (Terawatt-hours)_y'],
      dtype='object')